<section class="section-row set" ng-controller="SetsCtrl">

  <div class="index-card-header container">
    <div>
      <h1>{{ set.name }}</h1>
    </div>

    <div>
      <div ng-show="setLength > 0" class="index-card-number">
        {{ currentCard }} / {{ setLength }}
      </div>
      <a href="#/profile/{{ user.id }}">
        <i class="fa fa-folder-open"></i>
      </a>
      <button ng-class="{ active: addCardsOpen === true }" 
              ng-click="toggleAddCards()">
        <i class="fa fa-plus"></i>
      </button>
      <a href="#/profile/{{ user.id }}/sets/{{ setId }}/edit">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="#/profile/{{ user.id }}/sets/{{ setId }}/edit">
        <i class="fa fa-search-plus"></i>
      </a>
    </div>
  </div>

  <div class="index-card-container container">
    <div class="scroll" ng-style="scrollLeft()">
      <div class="index-card"
           ng-click="flipCard(id)"
           ng-class="{ on: cardOn === true && currentCard === id + 1, curr: currentCard === id + 1 }"
           ng-repeat="(id, card) in cards | orderByPriority">

        <span ng-include="'views/includes/index_card.ejs'"></span>

        <div>
          <div class="front">{{ card.term }}</div>
          <div class="back">{{ card.definition }}</div>
        </div>
      </div>
    </div>
    <button class="prev" ng-show="currentCard > 1" ng-click="prevCard()">
      <i class="fa fa-chevron-left"></i>
    </button>
    <button class="next" 
            ng-hide="currentCard === setLength || setLength === 0"
            ng-click="nextCard()">
      <i class="fa fa-chevron-right"></i>
    </button>
  </div>

  <div class="add-cards pop" ng-show="addCardsOpen">
    <input type="text" placeholder="Term" ng-model="term">
    <textarea placeholder="Definition" ng-model="definition"></textarea>
    <button ng-click="createCard()">Add Card</button>
  </div>

</section>
