<section class="section-row edit-set" ng-controller="EditSetCtrl">
  <div class="index-card-header">
    <div>
      <input type="text" ng-model="set.name">
      <div ng-show="set.count" class="index-card-number">
          {{ set.count }} Cards
      </div>
    </div>
    <div>
      <button ng-click="editSetName()">
        <i class="fa fa-pencil"></i> 
        Rename Set
      </button>
      <a href="#/profile/{{ profile.id }}/sets/{{ setid }}">
        <i class="fa fa-eye"></i> 
        View Set
      </a>
    </div>
  </div>

  <div class="edit-set-zero body-container" ng-show="!set.count || set.count === 0">
    <p>You don't have any cards in this set. <a href="#/profile/{{ profile.id }}/sets/{{ setid }}">Create some.</a></p>
  </div>

  <div class="section-row section-body">
    <ul class="edit-set-list">
      <li ng-repeat="(id, card) in cards">
        <div class="term">
          <h3>{{ card.term }}</h3>
          <p>{{ card.definition }}</p>
        </div>
        <div class="edit-actions">
          <i ng-click="deleteCard(id)" class="fa fa-times"></i>
        </div>
      </li>
    </ul>
  </div>
</section>
