<section class="section-row edit-set" ng-controller="SetsController">

  <div class="edit-header">
    <div>
      <input type="text" ng-model="set.name">
      <div ng-show="setLength > 0" class="index-card-number">
          {{ setLength }} Cards
      </div>
    </div>
    <div>
      <button ng-click="editSetName()">
        <i class="fa fa-pencil-square"></i> 
        Rename Set
      </button>
      <a href="#/profile/{{ user.id }}/sets/{{ setId }}">
        <i class="fa fa-pencil-square"></i> 
        View Set
      </a>
    </div>
  </div>

  <div class="edit-set-zero body-container" ng-show="setLength === 0">
    <p>You don't have any cards in this set. <a href="#/profile/{{ user.id }}/sets/{{ setId }}">Create some.</a></p>
  </div>

  <div class="section-row section-body">
    <ul class="edit-set-list">
      <li ng-repeat="(id, card) in cards">
        <div class="term">
          <h3>{{ card.term }}</h3>
          <p>{{ card.definition }}</p>
        </div>
        <div class="edit-actions">
<!--           <i class="fa fa-arrow-up"></i>
          <i class="fa fa-arrow-down"></i> -->
          <i ng-click="deleteCard(id)" class="fa fa-times"></i>
        </div>
      </li>
    </ul>
  </div>

</section>