<!doctype html>
<html lang="eng" ng-app="indexCards">
<head>
  <meta charset="utf-8">
  <meta name="fragment" content="!">
  <title ng-bind="title"></title>
  <link rel='stylesheet' href='stylesheets/app.css'>
  <link rel='stylesheet' href='/font-awesome/css/font-awesome.min.css'>
  <link rel="shortcut icon" href="images/favicon.ico" />
</head>
<body ng-cloak>
  <header ng-include="'views/includes/header.ejs'"
          ng-controller="HeaderCtrl"
          ng-class="{ login: isLogin() }"></header>
  <section class="wrapper" ng-view></section>
  <footer ng-include="'views/includes/footer.ejs'" ng-show-auth="login"></footer>
  <script src='/firebase/firebase.js'></script>
  <script src='/firebase-simple-login/firebase-simple-login.js'></script>
  <script src='/angular/angular.min.js'></script>
  <script src='/angular-route/angular-route.min.js'></script>
  <script src='/angular-resource/angular-resource.js'></script>
  <script src='/angularfire/angularfire.min.js'></script>
  <script src='<%= buildUrl %>/js/app.min.js'></script>
</body>
</html>
