<section class="section-row home" ng-controller="LoginCtrl">
  <div ng-show="err" class="login-errors">
    <div class="errors">
      <i class="fa fa-warning"></i> {{ err }}
    </div>
  </div>

  <div class="home-body">
    <div class="intro">
      <div class="index-card"
           ng-click="flipCard()"
           ng-class="{ on: cardOn }">
        <span ng-include="'views/includes/index_card.ejs'"></span>

        <div>
          <div ng-hide="loading" class="front">Renaissance</div>
          <div ng-hide="loading" class="back">The Renaissance was a cultural 
          movement that spanned the period roughly from the 14th to the 17th 
          century, beginning in Italy in the Late Middle Ages and later 
          spreading to the rest of Europe.</div>
          <div ng-show="loading" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </div>

      <div class="guide" ng-show="!hideGuide">
        <i class="fa fa-hand-o-up"></i> Click card to flip.
      </div>
    </div>

    <div class="login-box">
      <div class="button-row">
        <button ng-class="{ active: showLogin }" ng-click="showLogin = true">Login</button>
        <button ng-class="{ active: !showLogin }" ng-click="showLogin = false">Create Account</button>
      </div>
      <div class="form-row">
        <input type="text" ng-model="email" placeholder="Email">
        <input type="password" ng-model="password" placeholder="Password">
        <input type="password" ng-model="confirm" placeholder="Confirm Password" ng-show="!showLogin">
        <button ng-show="showLogin" class="create-btn" ng-click="login()">Login</button>
        <button ng-hide="showLogin" class="create-btn" ng-click="createAccount()">Create</button>
      </div>
    </div>
  </div>
</section>
