<section class="section-row profile" ng-controller="ProfilesCtrl">

  <div class="profile-header container">
    <div>
      <input type="text" ng-model="set" placeholder="Set title">
    </div>
    <div>
      <button ng-click="createSet()"><i class="fa fa-plus-square"></i> Create Set</button>
    </div>
  </div>

  <div class="profile-zero body-container" ng-show="!user.sets">
    <p>You don't have any card sets. Create one!</p>
  </div>

  <div class="cardsets body-container section-row" ng-show="user.sets">
    <div class="set" ng-repeat="(id, set) in user.sets">
      <a href="#/profile/{{ user.id }}/sets/{{ id }}">
        <p>{{ set.name }}</p>
      </a>
      <button class="delete-set" ng-click="deleteSet(id)">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>

</section>