<section class="section-row search" ng-controller="SearchCtrl">
  <div class="index-card-header container">
    <div><h1>{{ set.name }}</h1></div>
    <div>
      <div ng-show="set.count" class="index-card-number">
        {{ set.count }} Cards
      </div>
      <a href="#/profile/{{ profile.id }}"
         ng-class="{ active: title === 'Profile' }">
        <i class="fa fa-folder-open"></i>
      </a>
      <button ng-class="{ active: addCardsOpen }" 
              ng-click="toggleAddCards()">
        <i class="fa fa-plus"></i>
      </button>
      <a href="#/profile/{{ profile.id }}/sets/{{ setid }}/edit"
         ng-class="{ active: title === 'Edit' }">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="#/profile/{{ profile.id }}/sets/{{ setid }}/search"
         ng-class="{ active: title === 'Search' }">
        <i class="fa fa-search-plus"></i>
      </a>
      <a href="#/profile/{{ profile.id }}/sets/{{ setid }}"
         ng-class="{ active: title === 'Cards' }">
        <i class="fa fa-eye"></i>
      </a>
    </div>
  </div>

  <div class="body-container">
    <div class="find-terms">
      <input type="text" ng-model="word" placeholder="Find words">
      <button ng-click="getWords()">Search</button>
    </div>

    <div ng-hide="wordList.length">
      Your search returned no results.
    </div>

    <div ng-show="wordList.length">
      <h3>
        {{ wordList[0].word }} 
        <span class="part-of-speech">({{ wordList[0].partOfSpeech }})</span>
      </h3>

      <ol class="word-list">
        <li ng-repeat="term in wordList">
          <p class="definition">
            <span class="text">{{ term.text }}</span>
            <button ng-click="addCard(term.word, term.text)" class="add-word">
              <i class="fa fa-plus"></i> Add
            </button>
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
