<section class="section-row set" ng-controller="SetsController">

	<div class="index-card-header container">
		<div>
			<h1>{{ set.name }}</h1>
			<div class="index-card-number">{{ current_card + 1 }} / {{ set_length + 1 }}</div>
		</div>
	</div>

	<div class="index-card-container container">
		<div class="index-card"
				 ng-click="flipCard()"
				 ng-class="{ on: card_on === true }">

			<span ng-include="'views/includes/index_card.ejs'"></span>

			<div ng-show="id === current_card" 
					 ng-repeat="(id, card) in cards | orderByPriority">
				<div class="front">{{ card.term }}</div>
				<div class="back">{{ card.definition }}</div>
			</div>

		</div>

	</div>

	<div class="button-row">
		<div class="container">
			<button class="btn prev" ng-show="current_card > 0" ng-click="prevCard()"><i class="fa fa-chevron-left"></i></button>
			<button class="btn next" ng-hide="current_card === set_length" ng-click="nextCard()"><i class="fa fa-chevron-right"></i></button>
		</div>
	</div>
</section>

