button {  
  font-family:'Actor' sans-serif;
  font-weight:normal;
  font-size:18px;
  background: transparent;
  border-radius:0;
  transEaseInOut(300ms);

  &:hover {    
    transEaseInOut(300ms);
  }
}