button
	font: normal 18px 'Actor' sans-serif;
	background: transparent;
	border-radius:0;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;

	&:hover
		-webkit-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;