footer {
  height:100px;
  background-color:$dark;
}

div.footer {
  padding:20px;
  font-size:14px;
  color:#fff;

  &.home {
    width:980px;
    margin:0 auto;
    padding:20px 0;
    color:$dark;

    a {
      color:$dark;
    }
  }
}