@import url(http://fonts.googleapis.com/css?family=Actor);

* {  
  box-sizing : border-box;
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;
}

html { height:100%; }

body {  
  padding:0;
  margin:0;
  height:100%;
  font-family:'Actor', helvetica, sans-serif;
  font-weight:normal;
  font-size:18px;
  color:$dark;
  background-color:$blue_back;
  background-repeat:no-repeat;
  background-position:center;
}

a {  
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  cursor:pointer;
  transEaseInOut(200ms);
}

h1, h2, h3, h4, h5, h6 {
  color:$fff;
}
  
h1 {  
  margin-top:0;
  margin-bottom:20px;
  font-size:20px;
}