@import url(http://fonts.googleapis.com/css?family=Actor);

*
  box-sizing : border-box;
  -webkit-box-sizing : border-box;
  -moz-box-sizing : border-box;

  -webkit-touch-callout : none;
  -webkit-user-select   : none;
  -khtml-user-select    : none;
  -moz-user-select      : none;
  -ms-user-select       : none;
  user-select           : none;

html
  height:100%
  min-height:100%;

body
  padding          : 0;
  margin           : 0;
  font             : normal 18px 'Actor' sans-serif;
  color            : $dark;
  background-color:$dark;
  height:100%;

a 
  text-decoration:none;
  color:#fff;
  cursor:pointer;
  -webkit-transition : all 0.2s ease-in-out;
  transition : all 0.2s ease-in-out;
  cursor:pointer;

h1, h2, h3, h4, h5, h6
  color:$fff;

header
  padding:20px 0;
  
h1
  font-size:20px;
  margin-top:0;
  margin-bottom:20px;