header {
  padding:0;
  width:100%;
  height:60px;
  color:#fff;
  line-height:60px;
  background-color:$dark;
  overflow:hidden;
  clearfix();

  a {
    color:#fff;
    
    &:hover {
      color:$red;
    }
  }

  div.header {
    width:100%;
    margin:0 auto;
    overflow:visible;

    h1 {
      display:inline-block;
      float:left;
      padding-left:20px;
      margin-bottom:0;
    }

    nav {
      position:relative;
      display:inline-block;
      float:right;
      right:-130px;
      height:60px;
      transCubicBez(600ms);

      &.on {
        right:0;
        transCubicBez(600ms);
      }

      a {
        display:inline-block;
        float:left;
        height:60px;
        padding:0 20px;
        font-size:16px;
        margin-left:1px;
        color:#fff;

        &:hover,
        &:active {
          color:$red;
        }
        &.active {
          background-color:rgba(0,0,0,0.4);
        }
      }
          
      button {
        display:inline-block;
        float:left;
        padding:0;
        margin:0;
        margin-left:1px;
        height:60px;
        width:60px;
        text-align:center;
        font-size:20px;
        color:#fff;
        background-color:rgba(0,0,0,0.4);
        border-radius:0;

        &:hover {
          background-color:rgba(0,0,0,0.2);
        }
        &.on {
          color:$red;
        }
      }

      ul {
        display:inline-block;
        float:left;
        padding:0;
        margin:0;
        list-style:none;

        li {
          display:inline-block;
          float:left;
          height:60px;
          width:130px;
          font-size:14px;
          color:#fff;
          line-height:60px;
          text-align:center;
          border-left:1px solid #333;
          background-color:rgba(0,0,0,0.4);
          cursor:pointer;

          &:hover {
            color:$red;
          }
        }
      }
    }
  }
}

header.login {
  background-color:$dark;
  margin-bottom:40px;
}