.container
  width:650px;
  margin:0 auto;

section.section-row,
div.section-row
  clearfix();

div.form-row
  margin-bottom:20px;

div.form-row:last-child
  margin-bottom:0;

div.body-container
  height:480px;
  padding:40px 0;
  position:relative;
  clearfix();