clearfix() {  
  zoom: 1;
  &:after,
  &:before {    
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

transCubicBez(speed) {
  -webkit-transition: all speed cubic-bezier(0.23, 1, 0.32, 1);
  transition:         all speed cubic-bezier(0.23, 1, 0.32, 1);
}

transEaseInOut(speed) {
  -webkit-transition:all speed ease-in-out;
  transition:all speed ease-in-out;
}