section.set
  background-color:$blue_back;
  padding:0;
  margin-bottom:0;
  width:100%;
  overflow:hidden;
  position:relative;

  div.add-card
    div
      margin-bottom:10px;
      clearfix();
      input
        display:inline-block;
        float:left;
        width:79%;
        margin-right:1%;
      button
        display:inline-block;
        float:left;
        width:20%;

  div.index-card-header
    width         : 100%;
    margin        : 0 auto;
    color         : $dark;
    overflow      : visible;
    padding       : 0;
    height        : 60px;
    position      : relative;
    background-color:$blue;
    z-index:5;

    > div:first-child
      display:inline-block;
      float:left;
      width:70%;
      clearfix();

      h1
        display:inline-block;
        float:left;
        padding          : 0;
        padding-left:20px;
        margin           : 0;
        font-size        : 22px;
        text-align       : left;
        height:60px;
        line-height      : 60px;
        font-weight:normal;

      div.index-card-number
        display:inline-block;
        float:right;
        width:80px;
        line-height      : 60px;
        text-align:center;
        height:60px;
        background-color:$blue_o2;

    > div:last-child
      display:inline-block;
      float:right;
      width:30%;
      clearfix();

      button,
      a
        position:relative;
        display:inline-block;
        float:left;
        margin:0;
        width:50%;
        height:60px;
        border-radius:0;
        background-color:$blue_o4;
        font-size:16px;

        &:hover,
        &.active
          background-color:$blue_o6;

        &:last-child
          border-left:1px solid rgba(0,0,0,0.05);

        i
          margin-right:5px;

      a
        color:$dark;
        text-align:center;
        line-height:60px;

  div.edit-set
    ul
      margin:0;
      padding:0;
      list-style:none;
      li
        margin:0;
        padding:0;
        font-size:14px;
        background-color:$blue_o6;
        padding:10px;
        border-bottom:1px solid $blue_o4;

  div.index-card-container
    width:5000px;
    margin-left:50%;
    overflow:visible;

    div.scroll
      height:100%;
      width:100%;
      position:relative;
      -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
      transition:         all 600ms cubic-bezier(0.23, 1, 0.32, 1);

    div.index-card
      position                   : relative;
      display:inline-block;
      float:left;
      height                     : 400px;
      width                      : 650px;
      padding                    : 60px;
      margin                     : 0 auto;
      cursor                     : pointer;
      border-radius              : 10px;
      background                 : #fff;
      margin-right:20px;
      box-shadow:1px 1px 1px 0 rgba(0,0,0,0.08);

      transition                 : all .4s ease-in-out;
      -webkit-transition         : all .4s ease-in-out;
      perspective                : 100px;
      perspective-origin         : 50%;
      -webkit-perspective        : 100px;
      -webkit-perspective-origin : 50%;
      
      z-index:1;

      &:first-child
        margin-left:-325px;

      &.on
        box-shadow:1px -1px 0 0 rgba(0,0,0,0.1);
        transform         : rotateX(180deg);
        -webkit-transform : rotateX(180deg);
        transition                 : all .4s ease-in-out;
        -webkit-transition         : all .4s ease-in-out;

        div.front
          opacity            : 0;
          -webkit-transition : all 0.2s ease-in-out;

        div.back
          opacity            : 1;
          -webkit-transition : all 0.2s ease-in-out;
          -webkit-transition-delay : .1s;

      div.front,
      div.back
        margin: 0;
        height: 300px;
        line-height: 100px;

      div.front
        position           : absolute;
        top                : 0;
        left               : 0;
        width              : 650px;
        height:400px;
        padding            : 0;
        padding-top:187px;
        margin             : 0;
        font-size          : 36px;
        text-align         : center;
        line-height        : 0;
        opacity            : 1;
        color              : #444;

        -webkit-transition : all 0.2s ease-in-out;
        -webkit-transition-delay : .1s;

      div.back
        position: absolute;
        top: 0;
        left: 0;
        width: 650px;
        height: 400px;
        margin: 0;
        padding: 0 40px;
        padding-top: 93px;
        font-size          : 18px;
        color              : #444;
        line-height        : 40px;
        opacity            : 0;
        z-index            : 1;

        transform          : rotateX(-180deg);
        -webkit-transform  : rotateX(-180deg);

      svg
        position : absolute;
        top      : 0;
        left     : 0;
        width    : 100%;
        height   : 100%;
      line
        stroke-linecap : butt;
      line
        stroke       : #F05E4D;
        stroke-width : .5;
      line
        stroke       : #2CDEF2;
        stroke-width : .5;

  div.button-row
    width:100%;
    height:100px;
    background-color:$red2;
    position:relative;
    clearfix();

  button.next,
  button.prev
    position:absolute;
    height:100px;
    width:50%;
    font-size:28px;
    text-align:center;
    color:$dark;
    background-color:$red;
    border-radius:0;

    &:hover
      background-color:$red_o4;

  button.next
    left:50%;
  button.prev
    left:0;
    border-right:1px solid $red2;

  div.add-cards
    font-size:18px;
    input
      width:100%;
      background-color:#fff;
      border-radius:0;
      height:60px;
      padding-left:20px;
      font-size:18px;
      border-bottom:1px solid $blue_o2;
    textarea
      display:block;
      width:100%;
      border-radius:0;
      background-color:#fff;
      margin:0;
      height:280px;
      padding:20px;
      font-size:18px;
    button
      display:block;
      width:100%;
      border-radius:0;
      background-color:$blue_o4;
      margin:0;
      height:60px;
      font-size:18px;

      &:hover
        background-color:$blue_o6;

  div.pop
    position:absolute;
    left:50%;
    width:650px;
    height:400px;
    top:100px
    margin-left:-325px;
    z-index:4;
    background-color:#fff;
    text-align:left;
    border-radius:8px;
    overflow:hidden;
    display:block!important;
    -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
    transition:         all 600ms cubic-bezier(0.23, 1, 0.32, 1);

    &.ng-hide
      top:-400px;
      -webkit-transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
      transition:         all 600ms cubic-bezier(0.23, 1, 0.32, 1);
