section.edit-set {
  position:relative;
  padding:0;
  margin-bottom:0;
  width:100%;
  background-color:$blue_back;
  overflow:hidden;

  div.index-card-header {
    > div:first-child {      
      display:inline-block;
      float:left;
      width:70%;
      position:relative;
      clearfix();

      input {        
        display:block;
        float:left;
        padding:0;
        padding-left:20px;
        margin:0;
        height:60px;
        text-align:left;
        font-size:22px;
        font-weight:normal;
        background:transparent;
      }

      div.index-card-number {        
        position:absolute;
        top:0;
        right:0;
        width:80px;
        height:60px;
        line-height:60px;
        text-align:center;
        background-color:$blue_o2;
      }
    }

    button.rename {
      margin-right:10px;
      margin-top:10px;
      width:120px;
      height:40px;
      font-size:14px;
      border:0;
      border-radius:4px;
      background-color:$red2;

      &:hover {
        background-color:$red;
      }
    }
  }

  ul.edit-set-list {    
    margin:0;
    padding:0 60px;
    list-style:none;

    li {      
      padding:15px 0;
      border-bottom:1px solid $blue2_o2;
      clearfix();

      &:first-child {
        padding-top:0;
      }

      &:last-child {        
        padding-bottom:0;
        border-bottom:0;
      }

      div.term,
      div.edit-actions {        
        display:inline-block;
        float:left;
      }

      div.term {        
        width:70%;

        h3 {          
          margin-top:0;
          margin-bottom:10px;
          font-size:18px;
        }
        p {          
          margin:0;
          font-size:14px;
        }
      }

      div.edit-actions {        
        width:30%;
        float:right;
        clearfix();

        i {          
          float:right;
          margin:0 8px;
          font-size:18px;
          color:#555;
          cursor:pointer;
        }
        i.fa-times {
          color:$red;
        }
      }
    }
  }

  div.edit-set-zero {    
    p {      
      padding-top:80px;
      text-align: center;
      font-size: 28px;
      color:$red;
    }
    a {
      color:$dark;
    }
  }
}