<div class="footer">
    Created by G.J.Schulte.<span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>&copy; 2014.<span>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span>
    <a href="https://github.com/grantschulte" target="_blank"><i class="fa fa-github"></i> Contact me on github.</a>
</div>