<div class="header">
  <div ng-show="auth.user">
    <a href="#/profile/{{ auth.user.id }}">
      <h1>IndexCards v1</h1>
    </a>
    <nav class="user-actions">
      <a href="#/profile/{{ auth.user.id }}">{{ auth.user.email }}</a>
      <button ng-click="logoutUser()"><i class="fa fa-gears"></i></button>
    </nav>
  </div>
</div>